# coding: utf-8
<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <!-- <%= @categoria.area_id %> -->
  <%= @area.nome %>
</p>

<p>
  <b>Nome:</b>
  <%= @categoria.nome %>
</p>


<%= link_to 'Alterar', edit_categoria_path(@categoria) %> |
<%= link_to 'Voltar', categorias_path %>
