# coding: utf-8
<h1>Manutenção de áreas</h1>

<table>
  <tr>
    <th>Assunto</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
	<% @assunto = Assunto.find_by_id(area.assunto_id) %>
    <!-- <td><%= area.assunto_id %></td> --!>
	<td><%= @assunto.nome %></td>
    <td><%= area.nome %></td>
    <td><%= link_to 'Visualizar', area %></td>
    <td><%= link_to 'Alterar', edit_area_path(area) %></td>
    <td><%= link_to 'Excluir', area, :confirm => 'Confirmar exclusão?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir Área', new_area_path %>
