# coding: utf-8
<p id="notice"><%= notice %></p>

<p>
  <b>Assunto:</b>
  <%= @area.assunto_id %>
</p>

<p>
  <b>Nome:</b>
  <%= @area.nome %>
</p>


<%= link_to 'Alterar', edit_area_path(@area) %> |
<%= link_to 'Voltar', areas_path %>
