# coding: utf-8
<h1>Manutenção de assuntos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>User</th>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assuntos.each do |assunto| %>
  <tr>
    <td><%= assunto.nome %></td>
    <td><%= assunto.user %></td>
    <td><%= assunto.info %></td>
    <td><%= link_to 'Visualizar', assunto %></td>
    <td><%= link_to 'Alterar', edit_assunto_path(assunto) %></td>
    <td><%= link_to 'Excluir', assunto, :confirm => 'Confirmar exclusão?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Incluir Assunto', new_assunto_path %>
