# coding: utf-8
<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @assunto.nome %>
</p>

<p>
  <b>User:</b>
  <%= @assunto.user %>
</p>

<p>
  <b>Informação:</b>
  <%= @assunto.info %>
</p>


<%= link_to 'Alterar', edit_assunto_path(@assunto) %> |
<%= link_to 'Voltar', assuntos_path %>
